.jp-InputArea-prompt,
.jp-OutputArea-prompt {
    font-size: 14px;
    color: #ffffff;
}

.jp-Notebook-cell,
.jp-Cell-outputWrapper {
    margin: 50px 0;
}

.jp-MarkdownCell {
    margin: 50px 0 30px !important;
}

.jp-MarkdownCell img {
    width: 100%;
}

.highlight {
    background: var(--bgPurple);
    border-radius: 10px;
}


/* keyword color */
.highlight .kn {
    color: #00b8ff;
    font-weight: 100;
}

.highlight .o {
    color: #9d00ff;
    font-weight: bold;
}

.highlight .k {
    color: #ff8d00;
}

.highlight .c1 {
    color: #525252
}

.s1,
.s2 {
    color: #00ffc4;
}

/*  */

.jp-MarkdownOutput {
    font-family: 'Share Tech Mono', monospace;
    color: var(--ftLightPurple);
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    overflow-x: auto;
}

.jp-MarkdownOutput img {
    margin: 0 !important;
}

.jp-MarkdownOutput ol {
    margin-left: 30px;
}


.jp-OutputArea-output {
    background: #000000 !important;
    margin: 30px 0;
    padding: 30px 0;
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
    overflow-x: auto;
}


.jp-MarkdownCell img,
.jp-RenderedImage img {
    /* max-width: 100%; */
    margin: 0 30px;
    object-fit: cover;
}

.highlight pre,
.jp-OutputArea-executeResult pre {
    background: var(--bgPurple);
    justify-content: flex-start;
    margin: 30px 0;
    padding: 30px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    /* letter-spacing: 1px; */
    line-height: 25px;

    white-space: pre-line;
    border-radius: 10px;
    color: #a1a1a1;
    overflow-x: auto;
}

.jp-OutputArea-output pre {
    margin: 0;
    padding: 0 30px !important;
}

.jp-OutputArea-executeResult pre {
    background: transparent;
    margin: 0;
    padding: 0 30px;
}


.jp-OutputArea-executeResult table {
    border-collapse: collapse;
    background: #080808;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    border: 30px solid #000000;
    border-top: none;
    border-bottom: none;
    line-height: 25px;
    color: #a1a1a1;
}

.jp-OutputArea-executeResult thead,
.jp-OutputArea-executeResult tr:nth-child(even) {
    background: #292c365c;
}

.jp-OutputArea-executeResult th,
.jp-OutputArea-executeResult td {
    min-width: 100px;
    padding: 5px;
    text-align: center !important;
    font-family: 'Space Mono', monospace !important;
    font-size: 13px;
    line-height: 25px;
}

.jp-OutputArea-executeResult th:nth-child(1) {
    min-width: 40px;
    font-weight: 100;
}