/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:481px),
screen and (max-width: 600px) {
    .navbar_con {
        padding: 35px 30px;
    }

    .navbar_menu_con {
        display: none;
    }

    .main_header_wrap {
        background: url('../assests/dataScience.gif') no-repeat;
        background-size: 600%;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        min-height: calc(100vh - 114px);
    }


    .main_header_con {
        background: transparent;
        width: 100%;
        min-height: calc(100vh - 114px);
        padding: 30px;
        padding-top: 150px;
        backdrop-filter: blur(150px);
    }

    .main_header_title {
        margin-bottom: 50px;
        color: var(--ftPurple);
        font-family: 'Share Tech Mono', monospace;
        font-size: 55px;
        /* line-height: 25px; */
        /* background: url("../assests/dataScience.gif");
        background-size: 50%;
        -webkit-background-clip: text; */
        /* -webkit-text-fill-color: #0000; */
        /* animation: imagebulger 5s infinite; */
        color: aliceblue;
    }

    .main_header_subtitle {
        margin-bottom: 150px;
        font-size: 17px;
    }

    /*  */

    .main_intro_con {
        flex-direction: column;
    }

    .main_intro_sub {
        width: 100% !important;
    }

    .main_intro_subLeft {
        padding: 30px;
    }

    .main_intro_subRight_cardCon {
        flex-direction: column;
        padding: 30px;
    }

    .subRight_card {
        margin-right: 0px;
        margin-bottom: 30px;
        width: 100%;
        height: 250px;
    }

    .subRight_card_active {
        transform: scale(1.05);
    }

    .categories_label_wrap {
        padding: 30px;
        padding-bottom: 160px;
    }

    .categories_label_con {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
    }

    .categories_label {
        flex-direction: column;
        align-items: flex-start;
        height: 200px;
    }

    .categories_label_subLeft {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }

    .categories_con_more_btn {
        justify-content: space-between;

        padding: 20px 65px;

    }


    .footer_con {
        /* display: none; */
    }

    .footer1_con {
        flex-direction: column;
        padding: 30px;
        padding-bottom: 0;
    }

    .footer1_sec1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .footer1_sec2_con {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .footer1_sec2,
    .footer1_sec3 {
        width: 100%;
        margin-bottom: 50px;
    }

    .footer1_sec_title {
        margin-bottom: 30px;
    }

    /*  */


    /* catagories */
    .catagories_page_wrap {
        padding: 30px;
    }

    .page_pagination_con {
        margin: 50px 0 100px;
        padding: 0 30px;
    }

    .page_pagination_wrap {
        width: 100%;
    }

    .page_pagination_btn {
        padding: 8px 15px;
    }

    .page_pagination_num {
        padding: 10px 5px;
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    /* page */
    .page_header_wrap {
        min-height: 300px;
    }

    .page_header_con>h1 {
        width: 100%;
        padding-top: 80px;
        font-family: 'exan', Fallback, sans-serif;
        font-size: 65px;
    }



    .page_header_breadcrumb_con {
        padding: 0 30px;
    }

    /*  article pages */
    .page_main_con {
        flex-direction: column-reverse;
    }

    .page_main_con_subLeft {
        width: 100%;
    }

    .page_main_con_subRight {
        width: 100%;
        /* padding: 50px 30px; */
    }

    .page_article_info_con {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .page_topic_con,
    .page_dataset_con,
    .page_intro_con,
    .page_jupyterNotebook_con,
    .page_author_con {
        padding: 30px;
    }

    .page_intro_con {
        padding-bottom: 0;
    }

    .jp-MarkdownCell {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1367px) and (max-width: 1980px) {

    /* .dashboard_blog_published_blog_prev .published_blog_prev_image_con,
    .dashboard_blog_published_blog_prev .published_blog_prev_image_con {
        height: 120px !important;
    }

    .dashboard_blog_draft_blog_prev,
    .dashboard_blog_trash_blog_prev {sssss
        width: 450px !important;
        height: 200px !important;
    }

    .dashboard_blog_draft_blog_prev .draft_blog_prev_thumbnail_img,
    .dashboard_blog_trash_blog_prev .trash_blog_prev_thumbnail_img {
        width: 200px !important;
    }

    .dashboard_blog_draft_blog_prev .draft_blog_prev_content,
    .dashboard_blog_trash_blog_prev .trash_blog_prev_content {
        width: calc(100% - 200px);
    } */

    .main_header_title {
        font-size: 70px;
    }

    .main_header_subtitle {
        font-size: 20px;
    }

    .subRight_card {
        width: 300px;
        height: 350px;
    }

    .categories_label_con {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }


    /*  */

    .catagories_page_con {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

/* Media Query */