/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:481px),
screen and (max-width: 600px) {}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1367px) and (max-width: 1980px) {

    /* .dashboard_blog_published_blog_prev .published_blog_prev_image_con,
    .dashboard_blog_published_blog_prev .published_blog_prev_image_con {
        height: 120px !important;
    }

    .dashboard_blog_draft_blog_prev,
    .dashboard_blog_trash_blog_prev {sssss
        width: 450px !important;
        height: 200px !important;
    }

    .dashboard_blog_draft_blog_prev .draft_blog_prev_thumbnail_img,
    .dashboard_blog_trash_blog_prev .trash_blog_prev_thumbnail_img {
        width: 200px !important;
    }

    .dashboard_blog_draft_blog_prev .draft_blog_prev_content,
    .dashboard_blog_trash_blog_prev .trash_blog_prev_content {
        width: calc(100% - 200px);
    } */
}

/* Media Query */